<h1>Práce s daty v Angularu</h1>
<h2>Dvojitý závorky jako vnoření</h2>
<p>První věc kterou se naučíme, je vlkádání (neboli interpolace) textu přímo do HTML. Pokud máme v TypeScriptu uloženou
  nějakou hodnotu,
  kterou lze zkonvertovat, tak ji můžeme ukazovat na HTML stránce přímo pomocí &#123;&#123;<strong>{{interpolation_string}}</strong>&#125;&#125; Níže uvidíte názorný příklad</p>
<div class="splitscreen">
  <section>
    <input id="interp-input" type="text" value="Jen to zkus">
    <button (click)="saveInterp()">Ulož a zobraz!</button>
  </section>
  <code>
    <em>...</em> HTML stránce přímo pomocí &#123; &#123; interpolation_string &#125; &#125; <em>...</em><br>
    public interpolation_string: String = 'proměnná';
  </code>
</div>
<h2>Bindování proměnné</h2>
<p>Tak jak můžeme ukazovat informace na stránce, tak můžeme nastavovat informace objektům z dokumentu. pomocí syntaxe [vlastnost]="ts" se dají měnít vlastností objektů.</p>
<div class="splitscreen">
  <section>
    <input id="div-color" type="text" [style.backgroundColor]="this.input_backgroundColor" [value]="this.input_backgroundColor">
    <button (click)="changeColor()">Change color!</button>
  </section>
  <code>
    &#60;input id="div-color" type="text" <br>
    [style.backgroundColor]="this.input_backgroundColor" <br>
    [value]="this.input_backgroundColor"&#62; <br>
    <em>...</em> <br>
    &#60;button&#62; (click)="changeColor()">Change color!&#60;/button&#62;
  </code>
</div>
<h2>Event Binding</h2>
<p>Díky Angularu můžeme elegantně reagovat na události prvku. Syntaxe je velmi jednoduchá - názvy eventů jsou stejné jako v Javascriptu, akorát se odstraní předpona "on".
  Takže z <em>onclick</em> se stane <em>click</em>, <em>onmouseover</em> se stane <em>mouseover</em> atp. Toto klíčové slovo se zabalí do kulatých závorek a za rovnítko se píše Typescript.
<div class="splitscreen">
  <section>
    <button (click)="updateEventColor('red');">Červená</button>
    <button (click)="updateEventColor('green');">Zelená</button>
    <br>
    <div id="event-div">placeholder div</div>
  </section>
  <code>
      &#60;button&#62; (click)="updateEventColor('red');"&#62;Červená&#60;/button&#62; <br>
      &#60;button&#62; (click)="updateEventColor('green');"&#62;Zelená&#60;/button&#62;<br>
      <em>...</em><br>
      (&#60;HTMLInputElement&#62;document.getElementById('event-div')).style.backgroundColor = color;<br>
  </code>
</div>
<h2>Two-way data binding</h2>
<p>Použítím jednoduchého zápisu lze data ukládat vždy, pokud se na HTML dokumentu změní nebo aktualizují. Používá se k tomu direktiva [(ngModel)] oplácaná kulatými
  a hranatými závorkami. za rovnítko dáme název proměnné, kam se má hodnota uložit.
</p>
<div class="splitscreen">
    <section>
      <input type="text" [(ngModel)]="this.ngModelVar">
      <p>{{ngModelVar}}</p>
    </section>
    <code>
        &#60;input&#62; type="text" [(ngModel)]="this.ngModelVar"&#62;<br>
        &#60;p&#62;  &#123; &#123; ngModelVar &#125; &#125;  &#60;/p&#62;
    </code>
  </div>