<h1>Angular</h1>
<p>Angular je nejmodernější nástroj pro vytváření single-page application (jednostránkové aplikace). To znamená, že se 
  stránka nemusí obnovovat, ale bude mít pořád aktuální data. Aplikace je tím pádem rychlejší a více responzivní.
</p>
<p>Využívá se zde takzvaných komponentů - což je alfa a omega celého Angularu. Každou stránku kterou vytvoříte, můžete dát do vlastního 
  komponentu. Takže každý kus vaší stránky - navigace, header, článek, sekce - bude mít vlastní html, css a ts soubor.
</p>
<p>Zároveň Angular používá nejmodernější nadstavbu Javascriptu - Typescript, který je mnohem více striktnější a naší aplikaci
  udelá více robustní, přehlednou a protierrorovou.
</p>
<p>Nakonec můžeme nadefinovat vlastní routování po stránce, tedy pokud zadáme www.template.cz/ahoj, tak můžeme sami určit, na jaká 
  část stránky se zobrazí. Zároveň můžeme hlídat oprávnění, přihlášení, autorizaci a mnohem víc.
</p>
<h2>Už se těšíte? Tak pojďte s námi do toho!</h2>