<h1>A zazvonil konec...</h1>
<p>Tato stránka vznikla jako maturitní projekt žáku Michala Lauera a Honzy Maška na <a href="http://ssps.cz">Smíchovské
    střední průmyslové škole.</a></p>
<p>Stránka je volná ke sdílení a šíření dívokým internetem. Je na ni použit <a href="https://fezvrasta.github.io/bootstrap-material-design/">Bootstrap Material Design</a>.</p>
<p>Pokud se chcete dále vzdělávat a Tyto základy Vám nestačí, můžeme jenom doporučit:</p>
<dl>
  <dt><a href="https://www.udemy.com/the-complete-guide-to-angular-2/" target="blank">Udemy course</a></dt>
  <dd>Tento kurz vás rozšíří znalosti ve formulářích, animacích, guardech a mnoha dalších odbornějších věcech</dd>
  <dt><a href="https://angular.io" target="blank">Oficiální dokumentace</a></dt>
  <dd>Pokud google nezachrání</dd>
  <dt><a href="https://github.com/MichalLauer/Angular-school" target="blank">Zdrojový kód</a></dt>
  <dd>Odkaz na github kód této stránky</dd>
</dl>