<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
    <button type="button" class="btn btn-raised btn-secondary bmd-btn-fab d-block d-lg-none" type="button" data-toggle="drawer"
      data-target="#nav-list">
      <span class="sr-only">Toggle drawer</span>
      <i class="material-icons">menu</i>
    </button>
    <nav id="nav-list" class="bmd-layout-drawer">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          Intro
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['0', '0']" >Intro 0.0</a>
          <a class="dropdown-item" [routerLink]="['0', '1']" >Action 0.1</a>
        </div>
      </li>
    </nav>
    <!--main content-->
    <main class="container-fluid">
      <router-outlet></router-outlet>
    </main>
  </div>
  