
/* Styling of the page (looks, responsivness...) */

main{
    height: 100vh !important;
    overflow: scroll;
}
#logo{
    width: 128px;
    height: 128px;
    margin: 20px 0;
}
button{
    position: absolute;
    left: 12px;
    top:12px;
}
.hiding{
    box-shadow: none !important;
}
.dropdown{
    list-style-type: none;
    margin: 10px 10px;
}
.dropdown a{
    font-size: 18px;
}
.dropdown-menu.show{
    top: 0 !important;
    position: relative !important;
    box-shadow: none;
}
a{
    color: #009688 !important;
    cursor: pointer;
    font-size: 18px;
}
@media (min-width: 1024px) { 

    main{
        transform: translateX(240px) !important;
        padding-right: 240px;
    }

    nav {
        transform: translateX(0px) !important;
        width: 240px !important;
    }
 }