#compilation{
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 6;
    grid-template-areas:    "headline headline headline"
                            "text text text"
                            ". data-types ."
                            ". js ."
                            ". . ."
                            ". ts .";
    text-align: center;
}
#compilation h2{
    font-size: 1.8rem;
    grid-area: headline;
}
#comp-text{
    grid-area: text;
}
#js{
    grid-area: js;
    text-align: center;
}
#ts{
    grid-area: ts;
    text-align: left;
}
#data-types{
    grid-area: data-types;
}
#data-types ul{
    text-align: left;
}
#interface p{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
}
@media (min-width: 768px) { 
    #compilation{
        grid-template-rows: 4;
        grid-template-areas:    "headline headline headline"
                                "text text text"
                                ". data-types ."
                                "js . ts"
    }
 }