<h1>Něco málo o Tvém budoucím IDE</h1>
<ul>
  <li>Jedná se o vývojové prostředí, které se hodí pro vývoj jednodušších aplikací(především webových).</li>
  <li>VS Code je jednoduchý a multiplatformní (spustitelný na macOS, Linux a Windows).</li>
  <li>VS Code nemá žádný vlastní formát projektů. (projekty se pouze nahrávají)</li>
  <li>Hlavní přednosti VS Code:</li>
  <li>IntelliSense - podpora doplňování kódu.</li>
  <li>Debugging – testotvání a oprava chyb přímo v editoru.</li>
  <li>Git commands built-in – pro usnadnění práce s rozsáhlými projekty přímo v editoru.</li>
  <li>Extensible and customizable – podporování vývoje řadou stažitelných doplňků.</li>
  <li><strong>Stáhneš ho <a href="https://code.visualstudio.com/">přímo z ofiko stránek Microsoftu</a></strong></li>
</ul>
<h2>Popis základního panelu</h2>
<img src="assets/imgs/vscode-panel.png" alt="VS Code main panel" class="img-fluid mx-auto d-block">
<ul>
  <li><strong>File</strong> – otevírání, zavírání, ukládání a nastavení oken, složek, souborů</li>
  <li><strong>Edit</strong> – základní funkce (kopírování, vkládání, nahrazování, komentáře, … + funkce emmet</li>
  <li><strong>Selection</strong> – výběr, kopírování, posouvání celých bloků kódu a více kurzorová funkce</li>
  <li><strong>View</strong> – nastavení zobrazení veškerého rozhrání VS Code (přidávání editorů, přepínání zobrazení,
    …)</li>
  <li><strong>Go</strong> – funkce pro pohybování se ve složkách, editorech a kódu</li>
  <li><strong>Debug</strong> – ovládání ladícího programu</li>
  <li><strong>Terminal</strong> – ovládání terminálu</li>
  <li><strong>Help</strong> – o programu, licence programu, tipy a triky, … (detailní popis všeho ve VS Code a kolem
    něj)</li>
</ul>
<h2>Panel aktivit</h2>
<div id="active-panel">
  <img src="assets/imgs/vscode-active-panel.png" alt="VS Code activity panel" class="img-fluid mx-auto d-block">
  <ul>
    <li><strong>Průzkumník souborů</strong> <em>(Ctrl+Shift+E)</em> – nahrávání projektů, vkládání nových složek a
      souborů</li>
    <li><strong>Vyhledávání v souborech</strong> <em>(Ctrl+Shift+F)</em></li>
    <li><strong>Správa zdrojového kódu</strong> <em>(Ctrl+Shift+G)</em></li>
    <li><strong>Ladění kódu</strong> <em>(Ctrl+Shift+D)</em> – zde můžeme náš kód spustit a vyhledávat chyby</li>
    <li><strong>Správce rozšíření</strong> <em>(Ctrl+Shift+X)</em> – zde nalezneme veškeré doplňky týkající se VS Code</li>
  </ul>
</div>
<h2>Panel nastavení</h2>
<div id="settings-panel">
    <img src="assets/imgs/vscode-setting-panel.png" alt="VS Code setting panel" class="img-fluid mx-auto d-block">
    <ul>
        <li><strong>Command Palette</strong> – otevře příkazovou řádku, pro zadání 
        editorových příkazů</li>
        <li><strong>Settings</strong> – zde můžeme nastavit text editoru, pracovní 
        prostředí a jeho vlastnosti, vlastnosti oken, samotnou aplikaci
        (proxy, updaty, dálkový přenos dat) a nastavení rozšíření,
        dělí se na User Settings(týká se jakékoli instance VS Code - globální
        nastavení) a Workspace Settings(pouze užívaný VS Code)</li>
        <li><strong>Keyboard Shortcuts</strong> – nastavení klávesových zkratek</li>
        <li><strong>User Snippet</strong> – otevře řádek se Snippety</li>
        <li><strong>Color Theme</strong> – nastavení barevného vzhledu prosředí</li>
        <li><strong>File Icon Them</strong> – nastavení vzhledu složkových ikon</li>
        
    </ul>
  </div>
