#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 496px) { 
    a{
        font-size: 32px;
    }
 }
@media (min-width: 768px) { 
    a{
        font-size: 44px;
    }
 }